# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.BrunoMoura.iml
# Datasource local storage ignored files
/../../../../../../../:\works\@brunosite\blog\.idea\.idea.BrunoMoura\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
**/bin
**/obj